<html>

<body>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='check1.css')}}">  

	<header class="header">
		<ul><Strong>Catalog App</Strong></ul>
	<div class ="login">
		<a href="{{url_for('gdisconnect')}}">Logout</a>
	</div>
	</header>

	<div class = "main">
		<div class="subheader"> 
			<h2>Category</h2>
		</div>


		{% for i in category %}

		<div class="Items">

			<a href= '{{url_for('showitem', category_id = i.id)}}'>{{i.name}}</a>
			<br>
			<div class="addItem">
				<a href = '{{url_for('newItem', category_id = i.id) }}'>Add Item</a>
			</div>
			<br><br>
		</div>


		{% endfor %}
	</div>	

</body>

</html>