<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<title>Sports Equipment Catalog | Delete Item</title>
  	<meta name="viewport" content="width=device-width">
    <meta name="description" content="Sports Equipment Catalog">
	<meta name="keywords" content="IoT, Database, JSON, web design">
  	<meta name="author" content="Vivek R">
  	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
  </head>

  <body>
  	<header>
  		<div class="container">
  			<div id="branding">
  				<h1><span class="highlight">Sports</span> Equipment Catalog</h1>
  			</div>
  			<nav>
          	<ul>
            	<button type="submit" class="button_1"><a href="{{url_for('gdisconnect')}}">Logout</a></button>
          	</ul>
        	</nav>
		</div>
  	</header>

  	<section id="boxes">
      <div class="container">
        <h2>Delete Item</h2>
        <div class="box">
        	<h3> Are you sure you want to delete {{item.name}}? </h3>
        	<form action="{{ url_for('deleteItem', category_id=item.category_id, item_id=item.id)}}" method = 'post'>
			<input type='submit', value = 'Delete'>
			</form>
			<a href = "{{ url_for('categoryall', category_id = item.category_id)}}"> Cancel </a>
        </div>
      </div>
    </section>

    <footer>
      <p>Sports Catalog, Copyright &copy; 2018</p>
    </footer>
  </body>
</html>



	
	
