<html>

<body>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='AddPage1.css')}}">

	<header class="header">
		<ul><Strong>Catalog App</Strong></ul>
	<div class ="login">
		<a href="{{url_for('gdisconnect')}}">Logout</a>
	</div>
	</header>

	<div class="main">
		<h1>Add Item</h1>

		<form action="{{url_for('newItem', category_id=category_id)}}" method = 'POST'>

		<h2>Item Name:</h2>
		<input type='text' size='30' name='name' required>

		<h2>Description:</h2>
		<input type='text' size='50' name='description' required>
		<br><br>

		<input type='submit' value='Create'>

		</form>
	</div>	

</body>
</html>