body {
  background: linear-gradient(to bottom right, #2980b9, #2c3e50);
}

.main {
  margin: 3%;
}

/** Header styles **/
.header {
  background-color: #efa70b;
  border-bottom: 10px solid #efa70b; 
  width: 100%;
}
 
.header ul { 
  color: #FFFFFF;
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 50px;
  line-height: 75px;
  margin: 0;
  position: relative;
  text-align: center;
}

.subheader {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 150;
  line-height: .2em;
  color: #FFFFFF;
  position: relative;
}

.Items {
  border: 1px solid #efa70b;
  background-color: #efa70b;
  margin: 20px;
  display: inline-block;
  height: 150px;
  width: 200px;
  padding: 3%;
  color: #FFFFFF;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 150;
}