body {
  background-color: #FFF;
  margin: 15%;  
}

/** Header styles **/
.header {
  background-color: #466995;
  border-bottom: 10px solid #466995; 
  width: 100%;
  z-index: 10;
}
 .header ul { 
    color: #FFFFFF;
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 50px;
    line-height: 75px;
    margin: 0;
    position: relative;
    text-align: center;
  }

.subheader {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 150;
  line-height: .2em;
  color: #41292C;
  position: relative;
}

.Items {
  border: 1px solid #466995;
  background-color: #466995;
  margin: 20px;
  display: inline-block;
  height: 150px;
  width: 200px;
  color: #FFFFFF;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 150;
}

.additem {
  color: #FFFFFF;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.logintry{
  color: #FFFFFF;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-size: 15px; 
}

.login {
    background-color: #FFFFFF; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}